.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: center;
  width: 25%;
  font-family: 'Press Start 2P', cursive;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  background-color:#212529;
  color:#fff;
  font-family: 'Press Start 2P', cursive;
}


button {
  margin-top: 50px;
  width: 50%;
}

input {
  width: 50%;
}
/* #email-input-box, #password-input-box{
  text-align: center;
} */

#email, #password {
  font-family: 'Press Start 2P', cursive;
}

